*{
    box-sizing: border-box;
}

body{
    background-color: #f9f5da;
    font-family: Verdana, Tahoma, sans-serif;
}

#list-of-recipes{
    font-size: larger;
    text-align: center;
    line-height: 30px;
}

a:link {
    text-decoration: none;
    color:rgb(24, 68, 211)
  }

#list-of-recipes a:hover {
    color:whitesmoke;
    background-color: rgb(24, 68, 211);
    border-left: darkorange solid 3px;
  }

.recipe-title{
    text-align: center;
    text-decoration: rgb(121, 51, 51) wavy underline;
    line-height: 0px;
}

.recipe-description{
    text-align: justify;
}

#cooks-note{
    padding: 15px;
    margin: 40px;
    border-left: 4px solid #f3da39;
    width: max-content;
    background-color: aliceblue;
    text-align: justify;
}

.recipe-timing-card{
    padding: 15px;
    margin: 20px;
    width: max-content;
    color: rgb(24, 68, 211);
    background-color:aliceblue;
    border-left: 4px solid rgb(253, 0, 127);
}

.recipe-photo{
    height: 200px;
    width: auto;
    display: block;
    margin-left: auto;
    margin-right: auto;
    border-radius: 30px;
}